.App {
  font-family: sans-serif;
  text-align: center;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.buyuk-top {
  width: 320px;
  height: 320px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.kucuk-top {
  width: 160px;
  height: 160px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.sekiz {
  font-size: 100px;
}
